section#contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  @include media('<=phone') {
    height: 35vh;
  }
  a {
    text-decoration: none;
    color: $dark;
  }
  svg {
    cursor: pointer;
    @include media('<=phone') {
      width: 8vw;
    }
  }
}
